# 301 redirects from the old website url structure
# test with https://htaccess.madewithlove.be/ and https://regex101.com/
# made by https://www.assemblage.cz


<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
Redirect 301 / http://postfenomenologie.zcu.cz
</IfModule>
