extends ./_partials/layout.pug

block vars
  - bodyClass = 'index'

block main

  .main-header

    h1.logo

    nav.main-nav.is-hidden
      a(href="#") Home
      a(href="#") O konferenci
      a(href="#") Program
      a(href="#") Tým
      a(href="#") Kontakt

  .main-container
    img.poster(src="assets/images/konference-digi.png" alt="Postfenomenologie, mysl a média, 2020")

    .info
      .title
        h1 Postfenomenologie, mysl a&nbsp;média – 1.&nbsp;ročník studentské konference

      .content
        p.cfp Odkaz na online konferenci
        p
          a(href="https://cesnet.zoom.us/j/92777629328") https://cesnet.zoom.us/j/92777629328
        p (19. 11. 2020, přístupné od 9:30)

        br

        p.cfp Program + Sborník anotací
        p
          a(href="assets/images/postfenomenologie-sbornik-anotaci-2020.pdf") Sborník anotací ke stáhnutí (PDF)
        p V případě dotazů kontaktujte Mgr. Jakuba Ference na jferenc (at) kfi.zcu.cz

        p.cfp Konference je podpořena grantem SVK3-2020-001



  .section
    h2 Videozáznamy z 1. ročníku konference (19. 11. 2020)
    .videos-container
      .video-item
        h3.video-title Mgr. Jakub Ferenc &mdash; Úvod do tématu
        .video
          <iframe src="https://www.youtube-nocookie.com/embed/HbWyUsoYr1A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      .video-item
        h3.video-title Mgr. Michal Polák, Ph.D. – Postfenomenologie, 4E a Neurocentrismus
        .video
          <iframe src="https://www.youtube-nocookie.com/embed/zcpBxC7vOLU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      .video-item
        h3.video-title Mgr. Martin Ritter, Ph.D. – Je postfenomenologie fenomenologická?
        .video
          <iframe src="https://www.youtube-nocookie.com/embed/2mLEH63Rx30" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


      .video-item
        h3.video-title Mgr. Martin Charvát, Ph.D. – Za hranice fenomenologie: Archeologie médií
        .video
          <iframe src="https://www.youtube-nocookie.com/embed/dMRz7oJiq1U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      .video-item
        h3.video-title Mgr. Jakub Ferenc — Postfenomenologie Dona Ihdeho jako kritika „metafyziky“ techniky a materiality u Martina Heideggera
        .video
          <iframe src="https://www.youtube-nocookie.com/embed/rQIMnbCMKrI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      .video-item
        h3.video-title Mgr. Jakub Fiala – Ztraceno v překladu: kdy(ž) nám sebeměření nastavuje křivé zrcadlo
        .video
          <iframe src="https://www.youtube-nocookie.com/embed/AFC0TzuoORM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      .video-item
        h3.video-title Bc. Karolína Hrichová a Bc. Veronika Hanáková – Když se smrt dostaví
        .video
          <iframe src="https://www.youtube-nocookie.com/embed/8D5W9mPd9D4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      .video-item
        h3.video-title Mgr. Radovan Bartošek –  Technologie a svoboda v době plošných protiepidemických opatření
        .video
          <iframe src="https://www.youtube-nocookie.com/embed/Rg2da9DxnV8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      .video-item
        h3.video-title PhDr. Pavel Farkas – Design a uživatelský prožitek (UX) z města
        .video
          <iframe src="https://www.youtube-nocookie.com/embed/KXHhnI2RF0M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>





