extends ./_partials/layout.pug

block vars
  - bodyClass = 'index'

block main

  .main-container
    img.poster(src="assets/images/konference-2020.png" alt="Postfenomenologie, mysl a média, 2020")

    .info
      .title
        h1 Postfenomenologie, mysl a média – 1.&nbsp;ročník studentské konference

      .content
        p.cfp Call for Papers 2020
        p
          a(href="assets/images/konference-digi.pdf") Poster Call for Papers v PDF ke stáhnutí
        p Abstrakty posílejte na <a href="mailto:abstrakty@postfenomenologie.cz">&#97;&#98;&#115;&#116;&#114;&#97;&#107;&#116;&#121;&#64;&#112;&#111;&#115;&#116;&#102;&#101;&#110;&#111;&#109;&#101;&#110;&#111;&#108;&#111;&#103;&#105;&#101;&#46;&#99;&#122;</a>
        p V případě dotazů kontaktujte Mgr. Jakuba Ference na jferenc (at) kfi.zcu.cz
