@charset "UTF-8";

@import '../../node_modules/bulma/bulma.sass';
/* fonts */
/* end fonts */
@import "lib/all";
@import "fonts";



div, textarea {box-sizing: border-box;}

html {
  font-size: 12px;
  @include from($widescreen) {
    font-size: $base-font-size;
  }
}

body {
  font-family: 'Times New Roman', serif;
  font-weight: 200;
  color: $primary-color;
  line-height: 1.2;
  padding: 30px;
  margin: 0;
  font-size: 150%;

  @include from($widescreen) {

  }

}

strong {
  font-weight: 400;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

h1, h2 {font-size: 4.5rem; line-height: 1; letter-spacing: -1px;}

/* :CUSTOM CLASSES: */


/* :GRID: */

/****************************************************/
/* :LAYOUT: */




/****************************************************/



/****************************************************/
/* :HEADER: */



/****************************************************/


/****************************************************/
/* :MAIN: */
.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column-reverse;
  @include from($widescreen) {
    flex-direction: row;
  }

}
.poster {
  height: auto;
  width: 100%;
  @include from($widescreen) {
    width: 60%;
  }

}
.title {margin-bottom: 2em;}
.info {

  margin-bottom: 1rem;

  @include from($widescreen) {
    margin-left: 3rem;
    margin-bottom: 0;
  }
}
p {margin-bottom: 1rem; font-size: 2rem}
.cfp {letter-spacing: .5em; margin: 1rem 0}

/****************************************************/

/****************************************************/
/* :POSTS: */


/****************************************************/


/****************************************************/
/* :FOOTER: */



/****************************************************/
